/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

body {
  background-color: #C1C0C1;
  font-family: "Atlas Grotesk"
}
.header {
  background-color: #C1C0C1;
  z-index: 99;
  margin: 0;
}

/* Text */
@font-face {
  font-family: "Atlas Grotesk";
  src: url(/fonts/Atlas Grotesk-Regular.otf);
}

/* Links */
a {
text-decoration: none;
color: black;
}
a:hover {
  text-decoration: none;
  color: #0005C9;
}
a:active {
  text-decoration: none
  color: white;
}

.a2 {
  color: #0005C9;
  text-decoration: none;
}
.a2:hover {
  color: white;
}
.a2:active {
  color: white;
}

/* Grids */
.dual-grid {
  display: grid;
  grid-template-columns: auto auto;
}
