/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

html, body {
  background-color: #F2F2F2;
  font-family: "Atlas Grotesk";
}

.header {
  background-color: #F2F2F2;
  z-index: 99;
  margin: 0;
}

.htxt {
  font-family: "Atlas Grotesk";
}
.bg-ccpl {
  background-color: #303676;
}

/* Text */

@font-face {
  font-family: "Atlas Grotesk";
  src: url(/fonts/Atlas Grotesk-Regular.otf);
}
/*
@font-face {
  font-family: "Atlas Grotesk";
  src: url(/fonts/Atlas Grotesk-Regular Italic.otf);
  font-style: italic;
}
*/
@font-face {
  font-family: "Atlas Grotesk";
  src: url(/fonts/Atlas Grotesk-Bold.otf);
  font-weight: bold;
}

p {
  font-family: "Atlas Grotesk", Helvetica, sans-serif;
}

/* Links */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #0005C9;
}

a:active {
  text-decoration: none color: white;
}

.a2 {
  color: #0005C9;
  text-decoration: none;
}

.a2:hover {
  color: #969493;
}

.a2:active {
  color: #969493;
}

.active {
  color: #0005C9
}

.a3 {
  color: #969493;
  text-decoration: underline;
}

.a3:hover {
  color: #0005C9;
  text-decoration: none;
}

/* Color */

.off-white {
  background-color: #F2F2F2;
}

.greyish {
  background-color: #d0cccb;
}

/* Hovers */

.container #containeron {
  display: none;
  position: absolute;
}

.container:hover #containeron {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 50;
}

.undercover {
  position: absolute;
  height: 100%;
  text-align: center;
  line-height: auto;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.undercover-2 {
  position: absolute;
  height: 100%;
  text-align: center;
  line-height: auto;
  top: 10%;
  bottom: -50%;
  left: 0;
  right: 0;
  margin: auto;
}

/* Grids */

.dual-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Grayscale Filter */

.bw {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
}

.bw:hover {
  filter: none;
  -webkit-filter: none;
}
