/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

body {
  background-color: #C1C0C1;
  font-family: "Atlas Grotesk"
}
.header {
  background-color: #C1C0C1;
  z-index: 99;
}
.img-top {
  z-index: 90;
}
.img-mid {
  z-index: 50;
}
.img-btm {
  z-index: 0;
}
/* Text */
@font-face {
  font-family: "Atlas Grotesk";
  src: url(/fonts/Atlas Grotesk-Regular.otf);
}

/* Links */
a {
text-decoration: none;
color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}

/* Grids */
.dual-grid {
  display: grid;
  grid-template-columns: auto auto;
}
